.version.index /* version checker */
{
	color: #0000F2;
	background-color: #D902CE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2318.7500000000023px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 66px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
}

#u75
{
	z-index: 2;
	min-height: 1319.7499999999995px;
	background-color: rgba(0, 0, 0, 0.48);
	padding-bottom: 0px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 24px;
	padding-bottom: 49px;
}

#ppu209
{
	width: 0.01px;
	left: 111px;
	position: relative;
}

#pu209
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u209
{
	z-index: 223;
	width: 407px;
	background-color: transparent;
	position: relative;
}

#pu102
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 13px;
}

#u102
{
	z-index: 28;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u223
{
	z-index: 237;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 51px;
}

#u100
{
	z-index: 26;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 249px;
}

#pu95
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 561px;
}

#u95
{
	z-index: 21;
	width: 140px;
	height: 135px;
	background-color: transparent;
	margin-left: 163px;
	position: relative;
}

#U340_animation
{
	width: 140px;
	height: 135px;
	border: none;
}

#u84
{
	z-index: 10;
	width: 376px;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#ppu96
{
	width: 0.01px;
	left: 108px;
	position: relative;
}

#pu96
{
	width: 0.01px;
	margin-right: -10000px;
}

#u96
{
	z-index: 22;
	width: 131px;
	background-color: transparent;
	position: relative;
}

#u104
{
	z-index: 30;
	width: 30px;
	background-color: transparent;
	margin-left: 53px;
	margin-top: 23px;
	position: relative;
}

#u221
{
	z-index: 235;
	width: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 136px;
}

#u76
{
	z-index: 3;
	width: 609px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 255px;
}

#pu91
{
	width: 0.01px;
	left: 197px;
	margin-top: 10px;
	position: relative;
}

#u91
{
	z-index: 17;
	width: 313px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
}

#u91_img
{
	padding-bottom: 35px;
}

#u205
{
	z-index: 219;
	width: 11px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u93
{
	z-index: 19;
	width: 219px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 521px;
}

#u131-4
{
	z-index: 97;
	width: 96px;
	min-height: 54px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 770px;
}

#u75-bw
{
	z-index: 2;
	min-height: 1319.7499999999995px;
}

#u78
{
	z-index: 5;
	width: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 660px;
	left: 254px;
}

#u80
{
	z-index: 7;
	width: 197px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 619px;
	left: 774px;
}

#u82
{
	z-index: 9;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1146px;
	left: 1178px;
}

#u98
{
	z-index: 24;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
	left: 391px;
}

#u106
{
	z-index: 32;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 822px;
}

#u106_img
{
	padding-right: 17px;
}

#u108
{
	z-index: 34;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 655px;
}

#u110
{
	z-index: 36;
	width: 155px;
	height: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 598px;
	left: 244px;
}

#U279_animation
{
	width: 155px;
	height: 70px;
	border: none;
}

#u111
{
	z-index: 37;
	width: 80px;
	height: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 546px;
	left: 877px;
}

#U318_animation
{
	width: 80px;
	height: 130px;
	border: none;
}

#u112
{
	z-index: 38;
	width: 63px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 828px;
	left: 895px;
}

#u114
{
	z-index: 40;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 945px;
	left: 469px;
}

#u116
{
	z-index: 42;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1050px;
	left: 805px;
}

#u118
{
	z-index: 44;
	width: 158px;
	height: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1023px;
	left: 763px;
}

#U327_animation
{
	width: 158px;
	height: 158px;
	border: none;
}

#u119
{
	z-index: 45;
	width: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1145px;
	left: 861px;
}

#u121-4
{
	z-index: 47;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 892px;
}

#u122-4
{
	z-index: 51;
	width: 186px;
	min-height: 43px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 581px;
}

#u122-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 186px;
	margin: 232px -10000px 0px 0px;
}

#u122-4:hover p
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u123-8
{
	z-index: 55;
	width: 181px;
	min-height: 75px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 555px;
}

#u124-4
{
	z-index: 63;
	width: 213px;
	min-height: 20px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 947px;
	left: 116px;
}

#u125-4
{
	z-index: 67;
	width: 135px;
	min-height: 43px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 847px;
	left: 301px;
}

#u126-6
{
	z-index: 71;
	width: 123px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	color: #3C5912;
	font-size: 16px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 664px;
	left: 645px;
}

#u126-2,#u126-4
{
	padding-right: 10px;
	padding-left: 10px;
}

#u127-4
{
	z-index: 77;
	width: 210px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 939px;
	left: 621px;
}

#u128-4
{
	z-index: 81;
	width: 110px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1068px;
	left: 633px;
}

#u123-2,#u123-4,#u123-6,#u125-2,#u128-2
{
	text-align: right;
}

#u129-6
{
	z-index: 85;
	width: 124px;
	min-height: 43px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1195px;
	left: 470px;
}

#u131-2,#u129-2,#u129-4
{
	text-align: left;
}

#u130-6
{
	z-index: 91;
	width: 116px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1238px;
	left: 724px;
}

#u132-4
{
	z-index: 101;
	width: 159px;
	min-height: 42px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1122px;
	left: 416px;
}

#u133
{
	z-index: 105;
	width: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 842px;
	left: 669px;
}

#u135
{
	z-index: 107;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 828px;
	left: 454px;
}

#u137
{
	z-index: 109;
	width: 99px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 794px;
	left: 143px;
}

#u139
{
	z-index: 111;
	width: 122px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1175px;
	left: 333px;
}

#u141
{
	z-index: 113;
	width: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 670px;
}

#u143
{
	z-index: 115;
	width: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 957px;
}

#u145
{
	z-index: 117;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0.0349,0.9994,-0.9994,0.0349,13,-2);
	-ms-transform: matrix(0.0349,0.9994,-0.9994,0.0349,13,-2);
	transform: matrix(0.0349,0.9994,-0.9994,0.0349,13,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 422px;
	left: 734px;
}

#u147
{
	z-index: 119;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0.0175,0.9998,-0.9998,0.0175,13,-2);
	-ms-transform: matrix(0.0175,0.9998,-0.9998,0.0175,13,-2);
	transform: matrix(0.0175,0.9998,-0.9998,0.0175,13,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 678px;
	left: 768px;
}

#u149
{
	z-index: 121;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,15,11);
	-ms-transform: matrix(-1,0,0,-1,15,11);
	transform: matrix(-1,0,0,-1,15,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 933px;
	left: 182px;
}

#u151
{
	z-index: 123;
	width: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1106px;
	left: 488px;
}

#u153
{
	z-index: 125;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,2,13);
	-ms-transform: matrix(0,-1,1,0,2,13);
	transform: matrix(0,-1,1,0,2,13);
	position: relative;
	margin-right: -10000px;
	margin-top: 1210px;
	left: 454px;
}

#u155
{
	z-index: 127;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(-0.9998,0.0175,-0.0175,-0.9998,15,11);
	-ms-transform: matrix(-0.9998,0.0175,-0.0175,-0.9998,15,11);
	transform: matrix(-0.9998,0.0175,-0.0175,-0.9998,15,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 1140px;
	left: 232px;
}

#u157-6
{
	z-index: 129;
	width: 89px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1157px;
	left: 202px;
}

#u158
{
	z-index: 135;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,13,-2);
	-ms-transform: matrix(0,1,-1,0,13,-2);
	transform: matrix(0,1,-1,0,13,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 860px;
	left: 437px;
}

#u160
{
	z-index: 137;
	width: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 924px;
	left: 724px;
}

#u162
{
	z-index: 139;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,13,-2);
	-ms-transform: matrix(0,1,-1,0,13,-2);
	transform: matrix(0,1,-1,0,13,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 1082px;
	left: 745px;
}

#u164
{
	z-index: 141;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,13,-2);
	-ms-transform: matrix(0,1,-1,0,13,-2);
	transform: matrix(0,1,-1,0,13,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 1253px;
	left: 844px;
}

#u166
{
	z-index: 143;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,2,13);
	-ms-transform: matrix(0,-1,1,0,2,13);
	transform: matrix(0,-1,1,0,2,13);
	position: relative;
	margin-right: -10000px;
	margin-top: 912px;
	left: 952px;
}

#u193
{
	z-index: 195;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1017px;
	left: 764px;
}

#u195
{
	z-index: 197;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 942px;
}

#u199
{
	z-index: 207;
	width: 216px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 788px;
	left: 701px;
}

#u201
{
	z-index: 209;
	width: 216px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 780px;
	left: 256px;
}

#u203-4
{
	z-index: 211;
	width: 165px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 796px;
	left: 730px;
}

#u204-4
{
	z-index: 215;
	width: 165px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 791px;
	left: 284px;
}

#u212
{
	z-index: 226;
	width: 205px;
	height: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 526px;
}

#U238_animation
{
	width: 205px;
	height: 190px;
	border: none;
}

#u213
{
	z-index: 227;
	width: 189px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1023px;
	left: 119px;
}

#u215
{
	z-index: 229;
	width: 111px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 659px;
}

#u217
{
	z-index: 231;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 316px;
	left: 790px;
}

#u219
{
	z-index: 233;
	width: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
	left: 460px;
}

#u225
{
	z-index: 239;
	width: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 439px;
}

#pu87
{
	width: 0.01px;
	margin-top: 42px;
}

#u87
{
	z-index: 13;
	width: 137px;
	border-color: #FFFFFF;
	background-color: #16C1C1;
	padding-bottom: 109px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 685px;
}

#u181
{
	z-index: 158;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

.grow
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u88
{
	z-index: 14;
	width: 137px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	padding-bottom: 109px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 548px;
}

#u179
{
	z-index: 156;
	width: 135px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 1px;
}

#u89
{
	z-index: 15;
	width: 137px;
	border-color: #FFFFFF;
	background-color: #16C1C1;
	padding-bottom: 109px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 411px;
}

#u177
{
	z-index: 154;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 4px;
}

#u168
{
	z-index: 145;
	width: 137px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	padding-top: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u171
{
	z-index: 148;
	width: 129px;
	margin-left: 4px;
	position: relative;
}

#u183-8
{
	z-index: 160;
	width: 137px;
	min-height: 80px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-weight: 300;
	margin-top: 30px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u183-2
{
	font-size: 16px;
	line-height: 19px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	font-family: open-sans, sans-serif;
}

#u183-4,#u183-6
{
	padding-right: 5px;
	padding-left: 5px;
	font-family: open-sans, sans-serif;
	font-style: italic;
}

#u169
{
	z-index: 146;
	width: 137px;
	border-color: #FFFFFF;
	background-color: #16C1C1;
	padding-top: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 137px;
}

#u173
{
	z-index: 150;
	width: 130px;
	margin-left: 4px;
	position: relative;
}

#u184-4
{
	z-index: 168;
	width: 137px;
	min-height: 80px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 30px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u90
{
	z-index: 16;
	width: 137px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 274px;
}

#u87:hover,#u88:hover,#u89:hover,#u168:hover,#u169:hover,#u90:hover
{
	background-color: #F77B55;
	width: 137px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u90_position_content
{
	padding-top: 22px;
}

#u175
{
	z-index: 152;
	width: 101px;
	margin-left: 18px;
	position: relative;
}

#u185-4
{
	z-index: 172;
	width: 137px;
	min-height: 81px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 29px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u170
{
	z-index: 147;
	width: 138px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	position: relative;
	margin-right: -10000px;
	left: 822px;
}

#u170:hover
{
	background-color: #F77B55;
	width: 138px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u170_position_content
{
	padding-top: 19px;
}

#u190
{
	z-index: 192;
	width: 129px;
	margin-left: 4px;
	position: relative;
}

#u189-4
{
	z-index: 188;
	width: 138px;
	min-height: 81px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 29px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u189-2
{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
}

#u186-4
{
	z-index: 176;
	width: 137px;
	min-height: 81px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 548px;
	-pie-background: rgba(0,0,0,0.2);
}

#u187-4
{
	z-index: 180;
	width: 137px;
	min-height: 81px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 412px;
	-pie-background: rgba(0,0,0,0.2);
}

#u188-4
{
	z-index: 184;
	width: 137px;
	min-height: 81px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 685px;
	-pie-background: rgba(0,0,0,0.2);
}

#u184-2,#u185-2,#u186-2,#u187-2,#u188-2
{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#pu211
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 38px;
}

#u211
{
	z-index: 225;
	width: 670px;
	height: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U345_animation
{
	width: 670px;
	height: 330px;
	border: none;
}

#u197-4
{
	z-index: 199;
	width: 164px;
	min-height: 40px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 688px;
}

#u207
{
	z-index: 221;
	width: 11px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,279,269);
	-ms-transform: matrix(0,1,-1,0,279,269);
	transform: matrix(0,1,-1,0,279,269);
	margin-left: 493px;
	top: -255px;
	margin-bottom: -280px;
	position: relative;
}

#u205_img,#u207_img
{
	padding-right: 5px;
	padding-bottom: 542px;
}

#pu86
{
	width: 0.01px;
	margin-left: 184px;
	margin-top: -224px;
}

#u86
{
	z-index: 12;
	width: 415px;
	height: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#U299_animation
{
	width: 415px;
	height: 235px;
	border: none;
}

#u192
{
	z-index: 194;
	width: 18px;
	height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 343px;
}

#U350_animation
{
	width: 18px;
	height: 12px;
	border: none;
}

#u198-4
{
	z-index: 203;
	width: 267px;
	min-height: 44px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
}

body
{
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

