<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
       <remove fileExtension=".mp4" />
       <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
       <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
     </staticContent>
    <rewrite>
      <rules>
        <rule name="Rewrite Rule">
          <match url=".*" />
          <conditions>
            <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
        <action type="Rewrite" url="{C:1}" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="StaticRewrites" defaultValue="">
          <add key="/" value="/index.html" />
          <add key="/migration" value="/migration.html" />
          <add key="/about" value="/about.html" />
          <add key="/contact" value="/contact.html" />
          <add key="/hr" value="/hr.html" />
          <add key="/portfolio" value="/portfolio.html" />
          <add key="/project" value="/pm.html" />
          <add key="/remote" value="/remote_support.html" />
          <add key="/intranet" value="/intranet.html" />
          <add key="/sharepoint" value="/sharepoint-branding.html" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
	</system.webServer>
</configuration>
