---
layout: default
---
<div class="blog-page header-position">
	<div class="blog-header">
		<div class="container-fluid">
			<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
				<a href="/blog">Return to Blog</a>
			</div>
		</div>
	</div>
    <style type="text/css">
        .p {
            color: black;
        }
        .body {
            color: black;
        }
    </style>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
				<div class="blog-posts blog-posts_1">
					<h1>{{ page.title }}</h1>
					<article class="post-content">
						{{ content }}
					</article>
				</div>

				<div class="comments-blog">
					<div id="disqus_thread"></div>
					<script type="text/javascript">
						/* * * CONFIGURATION VARIABLES * * */
						var disqus_shortname = 'spjedi';
						
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				</div>
			</div>
		</div>
	</div>
</div>

