<footer class="site-footer clearfix">
	<div class="about-footer" style="background-color: #10172C;">
		<div class="container-fluid">
			<div class="row footer-menu">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<h4>About</h4>
					<p>For a decade, SP Jedi has been helping companies function at their highest level in the technology arena. We’re not trying to be the biggest consulting group in the market, but we are dedicated to providing our clients and customers with the most accessible and reliable service.</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h4>Contact us</h4>
					<p>Phone: <span>+1 602-463-4645</span></p>
					<p>Address: <span>3150 North 24th Street Suite A200<br>Phoenix, AZ 85016</span></p>
                    <a href="mailto:info@spjedi.com" style="color:white;">Email : info@spjedi.com <br /></a>
                    <a href="tel:(602)463-4645" style="color:white;"> Call Us : (602) 463-4645</a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h4>Follow us</h4>
					<div class="social-icons">
						<ul>
			               <a href="#" title="Facebook"><li><i class="fa fa-facebook"></i></li></a>
			               <a href="#" title="Twitter"><li><i class="fa fa-twitter"></i></li></a>
			               <a href="#" title="Dribble"><li><i class="fa fa-dribbble"></i></li></a>
			               <a href="#" title="LinkedIn"><li><i class="fa fa-linkedin"></i></li></a>
			               <a href="#" title="Rss"><li><i class="fa fa-rss"></i></li></a>
			            </ul>
					</div>
				</div>
			</div>
			
			<div class="footer-copyright">
				<i class="fa fa-copyright"></i>
				<span>Copyright 2005-2017 by <a href="#">SPJedi built</a> All Rights Reserved. MP</span>
			</div>
		</div>
	</div>
</footer>
