<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-1.11.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script data-cfasync="false" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/scrollReveal.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/jsrender.min.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.rangecalendar.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>



<script src="/js/jquery.immersive-slider.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/js/jquery.galleriffic.js" type="text/javascript"></script>
<script src="/js/jquery.opacityrollover.js" type="text/javascript"></script>

<script type="text/javascript">
    $("#calculate").click(function () {
        $(".cost_calcu").hide();
        $("#webdesign-quote").show();


    });
    $("#webdesign-calculator").click(function () {
        $("#webdesign-quote").hide();
        $(".cost_calcu").show();
    });
</script>

