<head>
  <meta charset="utf-8">
  <meta name="msvalidate.01" content="6A47F5EAB911EE2F84C1F8F5FBF2448C" />
    <!--Google Webmaster Tools -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=”google-site-verification” content=”VQta2HbHMMdP9TAS8pX_q9cZ7rrLCdmYI7h0A9llQ-0” />
  <meta name="viewport" content="width=device-width initial-scale=1">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  {% if page.robots %}<meta name="robots" content="{{ page.robots }}">{% endif %}

  {% if page.url %}<link rel="canonical" href="{{ site.url }}">{% endif %}

  <title>{{ page.title }}</title>
  <link type="img/x-icon" rel="shortcut icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/slick-theme.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/less.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59720216-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
</head>
